# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Guide
# <USERNAME>: The username to connect into your database
# <PASSWORD>: The password to authenticate database
# <PORT_NUMBER>: the port that your forwarded in compose file or docker run command

DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@localhost:<PORT_NUMBER>/mydb?schema=public"

# The node environment could be 'dev' or 'production'

NODE_ENV="dev/production"